#!/bin/sh

UPDATED_CANARY_FILE="{{ glugct_site_generation_home }}/UPDATED"
rm -f "${UPDATED_CANARY_FILE}"

su - {{ glugct_site_generation_user }} \
    -c "/usr/local/bin/generate_glugct_site.py -b \"{{ glugct_site_generation_home }}\" -c \"${UPDATED_CANARY_FILE}\""

rsyncres=0

if [ -e "${UPDATED_CANARY_FILE}" ]; then
    mkdir -p "{{ glugct_site_webroot }}"
    rsync -q -rlptDz --delete "{{ glugct_site_generation_home }}/website/output/" "{{ glugct_site_webroot }}"
    rsyncres=$?
    rm -f "${UPDATED_CANARY_FILE}"
fi

exit ${rsyncres}
